@use "../abstract/variables";
@use "../abstract/mixins" as *;

.banner-index {
    background-image: url(../assets/img/Banner-Homepage.jpg);
    background-size: 100%;
    width: 100%;
    height: 270px;
    background-position-y: -90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .banner-title {
        @include banner-title;
    }
}

.banner-bottom {
    background-image: url(../assets/img/Banner-Homepage2.jpg);
    background-color: variables.$background-color no-repeat;
    background-size: 150%;
    background-position: center;
    margin-top: 2rem;
    mix-blend-mode: multiply;
    width: 100%;
    height: 338px;
}

@media screen {
    @media (min-width: variables.$tablet-width) {
        .banner-index {
            height: 384px;
            background-position: center;
        }

        .banner-bottom {
            background-size: 130%;
            background-position-y: -60px;
            background-position-x: -160px;
        }
    }

    @media (min-width: variables.$desktop-width) {}
}