@use "../abstract/variables";
@use "../abstract/mixins" as *;

.index-about {
    text-align: center;
    margin: 2rem 1.5rem;

    &__img {
        background-image: url(../assets/img/Homepage1.jpg);
        background-size: 185%;
        background-position: center;
        width: 100%;
        height: 381px;
        border-radius: 16px;
    }
}

.line-up {
    text-align: center;

    h3 {
        margin: 4rem 0 6rem 0;
        font-family: variables.$secondary-font;
        font-size: 3rem;
        font-weight: 400;
        line-height: 4rem;
        color: variables.$secondary-color;
    }

    &__list--wrapper {
        margin: 4rem 0 2rem 0;
        padding: 0;

        li {
            margin: 0 1.5rem;
            list-style: none;
            color: variables.$secondary-color;

            h2 {
                font-size: 3rem;
                font-weight: 800;
                line-height: 3.7rem;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin: 0 0 5rem 0;
        padding: 0;

        li {
            margin: 0 1.5rem;
            list-style: none;
            color: variables.$secondary-color;

            h2 {
                @include index-list(3rem, 800, 3.7rem);
            }

            h4 {
                @include index-list(2rem, 500, 2.4rem);
            }

            h5 {
                @include index-list(2.5rem, 700, 3rem);
            }

            h6 {
                @include index-list(2rem, 700, 2.4rem);
            }

            h4,
            h5,
            h6 {
                margin: 0;
            }
        }
    }

    &__item {
        margin: 0 1rem;

        h2 {
            margin: 0 1.5rem;
        }
    }
}

.line-up__day {
    width: 257px;
    background-color: variables.$quaternary-color;
    font-family: variables.$secondary-font;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.6rem;
    color: variables.$secondary-color;
    padding: 1rem;
    margin: 4rem auto 3rem auto;

    &--alt {
        width: 286px;
        margin-top: 6rem;
    }
}

@media screen {
    @media (min-width: variables.$tablet-width) {
        .index-about {
            &__img {
                background-size: 105%;
                background-position: center;
                width: 90%;
                margin: auto;
            }
        }

        .line-up {
            text-align: center;

            h3 {
                margin: 6rem 0;
                font-size: 4rem;
                line-height: 5.2rem;
            }

            .border--container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .divisory-line {
                    border-top: 2px solid variables.$quaternary-color;
                    width: 12%;
                    margin: auto;
                }
            }

            &__list {
                margin: 2rem 3rem 5rem 3rem;

                li,
                .line-up__item,
                .line-up__item h2 {
                    margin: 0;
                }

                .line-up__item h2 {
                    padding: 0;
                }

            }

            &__list--alt {
                margin: 0 2rem;
            }

            &__list--wrapper {
                margin: 5rem 0 2rem 0;
                margin-top: 5rem;
            }
        }

        .line-up__day {
            width: 417px;
            font-weight: 400;
            font-size: 3rem;
            line-height: 4rem;
            padding: 1.3rem 1rem;
        }
    }

    @media (min-width: variables.$desktop-width) {}
}