@use "../abstract/variables";

.text {
    h6 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.4rem;
        color: variables.$secondary-color;
        margin: 2rem 0;
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 2.5rem;
        color: variables.$secondary-color;
        margin: 1rem 0 4rem 0;
    }
}

@media screen {
    @media (min-width: variables.$tablet-width) {
        .text {
            h6 {
                padding: 0 10rem;
            }

            p {
                padding: 1.5rem 2.5rem 0 2.5rem;
            }
        }
    }

    @media (min-width: variables.$desktop-width) {}
}