@use "./abstract/variables";
@use "./abstract/mixins" as *;

.banner-about {
    @include banner;

    &::before {
        @include banner-shade ("../assets/img/Banner-A-Experiência.jpg", 155%, -20px);
    }

    h1 {
        @include banner-title;
    }
}

.about-about {
    text-align: center;
    margin: 2rem 1.5rem;

    .about-img {
        @include about-img ("../assets/img/A-Experiêcia1.jpg", 100%);
    }

    .about-second-img {
        @include about-img ("../assets/img/A-Experiêcia2.jpg", 185%);
        background-position: center;
    }

    .about-third-img {
        @include about-img ("../assets/img/A-Experiêcia3.jpg", 100%);
        background-position-y: -40px;
    }
}

@media screen {
    @media (min-width: variables.$tablet-width) {
        .inner-header__menu--alt li:first-child .link {
            text-decoration: underline;
        }

        .about-about {
            margin: 2rem 3.9rem;

            .text {
                margin: 2rem 0;

                h6 {
                    margin: 2rem 0 0 0;
                    padding: 0;
                }

                p {
                    margin: 0;
                    padding: 0.5rem 0 2rem 0;
                }

                &--alt {
                    margin: 2rem 3.6rem;
                }
            }

            .about-img,
            .about-second-img {
                background-size: 100%;
            }

            .about-img {
                background-position-y: -100px;
            }

        }
    }

    @media (min-width: variables.$desktop-width) {}
}