@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
.banner-index {
  background-image: url(../assets/img/Banner-Homepage.jpg);
  background-size: 100%;
  width: 100%;
  height: 270px;
  background-position-y: -90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-index .banner-title {
  position: relative;
  color: #FFFFFF;
  font-family: "Calistoga", cursive;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .banner-index .banner-title {
    font-size: 4rem;
    line-height: 5.2rem;
  }
}

.banner-bottom {
  background-image: url(../assets/img/Banner-Homepage2.jpg);
  background-color: linear-gradient(180deg, #304968 0%, #36C1A0 52.6%, #4650BD 100%) no-repeat;
  background-size: 150%;
  background-position: center;
  margin-top: 2rem;
  mix-blend-mode: multiply;
  width: 100%;
  height: 338px;
}

@media screen and (min-width: 768px) {
  .banner-index {
    height: 384px;
    background-position: center;
  }
  .banner-bottom {
    background-size: 130%;
    background-position-y: -60px;
    background-position-x: -160px;
  }
}
.index-about {
  text-align: center;
  margin: 2rem 1.5rem;
}
.index-about__img {
  background-image: url(../assets/img/Homepage1.jpg);
  background-size: 185%;
  background-position: center;
  width: 100%;
  height: 381px;
  border-radius: 16px;
}

.line-up {
  text-align: center;
}
.line-up h3 {
  margin: 4rem 0 6rem 0;
  font-family: "Calistoga", cursive;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  color: #FFFFFF;
}
.line-up__list--wrapper {
  margin: 4rem 0 2rem 0;
  padding: 0;
}
.line-up__list--wrapper li {
  margin: 0 1.5rem;
  list-style: none;
  color: #FFFFFF;
}
.line-up__list--wrapper li h2 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.7rem;
}
.line-up__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 0 5rem 0;
  padding: 0;
}
.line-up__list li {
  margin: 0 1.5rem;
  list-style: none;
  color: #FFFFFF;
}
.line-up__list li h2 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.7rem;
}
.line-up__list li h4 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
}
.line-up__list li h5 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}
.line-up__list li h6 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.line-up__list li h4,
.line-up__list li h5,
.line-up__list li h6 {
  margin: 0;
}
.line-up__item {
  margin: 0 1rem;
}
.line-up__item h2 {
  margin: 0 1.5rem;
}

.line-up__day {
  width: 257px;
  background-color: #008364;
  font-family: "Calistoga", cursive;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  color: #FFFFFF;
  padding: 1rem;
  margin: 4rem auto 3rem auto;
}
.line-up__day--alt {
  width: 286px;
  margin-top: 6rem;
}

@media screen and (min-width: 768px) {
  .index-about__img {
    background-size: 105%;
    background-position: center;
    width: 90%;
    margin: auto;
  }
  .line-up {
    text-align: center;
  }
  .line-up h3 {
    margin: 6rem 0;
    font-size: 4rem;
    line-height: 5.2rem;
  }
  .line-up .border--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .line-up .border--container .divisory-line {
    border-top: 2px solid #008364;
    width: 12%;
    margin: auto;
  }
  .line-up__list {
    margin: 2rem 3rem 5rem 3rem;
  }
  .line-up__list li,
  .line-up__list .line-up__item,
  .line-up__list .line-up__item h2 {
    margin: 0;
  }
  .line-up__list .line-up__item h2 {
    padding: 0;
  }
  .line-up__list--alt {
    margin: 0 2rem;
  }
  .line-up__list--wrapper {
    margin: 5rem 0 2rem 0;
    margin-top: 5rem;
  }
  .line-up__day {
    width: 417px;
    font-weight: 400;
    font-size: 3rem;
    line-height: 4rem;
    padding: 1.3rem 1rem;
  }
}/*# sourceMappingURL=index.css.map */