@use "./abstract/variables";
@use "./abstract/mixins" as *;

.banner-info {
    @include banner;

    &::before {
        @include banner-shade("../assets/img/Banner-Informações.jpg", 115%, center);
    }
}

.banner-title {
    @include banner-title;
}

.info__about {
    padding: 3rem 1.5rem;
}

.card__ask {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding: 1rem 1.5rem 1rem 1rem;
    background-color: variables.$primary-color;
    cursor: pointer;
    user-select: none;

    h6 {
        margin: 0;
    }
}

.card__answer {
    background-color: variables.$quinary-color;
    padding: 1rem;

    p {
        margin: 0;
        color: variables.$tertiary-color;

        a {
            text-decoration: none;
            border-bottom: 1px solid;
            color: variables.$tertiary-color;
        }
    }
}

@media screen {
    @media (min-width: variables.$tablet-width) {
        .inner-header__menu--alt li:nth-child(3) .link {
            text-decoration: underline;
        }

        .info__about {
            padding: 3rem 3.75rem;

            .banner-title {
                font-size: 3rem;
                line-height: 4rem;
                padding-bottom: 3rem;
            }
        }

        .card__ask {
            justify-content: space-between;

            h6 {
                padding: 0;
            }
        }

        .card__answer p {
            padding: 0;
        }
    }

    @media (min-width: variables.$desktop-width) {
        .banner-info::before {
            background-position-y: -350px;
        }

        .info__about {
            padding: 3rem 12rem;
        }

        .card__ask:hover {
            background-color: #525bbe;
        }
    }
}