@use "./abstract/variables";
@use "./abstract/mixins" as *;

.banner__map-sectors {
    @include banner;

    &::before {
        @include banner-shade("../assets/img/Banner-Setores.jpg", 100% 603px, 0 320px);
    }

    h1 {
        @include banner-title;
    }
}

.map {
    display: flex;
    flex-direction: column;

    &__img {
        margin-top: 2rem;
        align-self: center;

        img {
            width: 100%;
        }
    }

    &__legend {
        align-self: center;
        list-style: none;
        margin: 1rem 0 6rem 0;

        b {
            font-weight: 700;
            font-size: 1.25rem;
            line-height: 2.5rem;
            color: variables.$secondary-color;
        }

        li {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 1.75rem;

            p {
                font-weight: 500;
                font-size: 1.25rem;
                line-height: 2.5rem;
                color: variables.$secondary-color;
            }
        }
    }
}

.map-sectors__about {
    text-align: center;
    margin: 2rem 1.5rem;
}

.map-sectors__img {
    @include mapSectors-img("../assets/img/Pistas.jpg", 100%);
}

.map-sectors__second-img {
    @include mapSectors-img ("../assets/img/Pista-premium.jpg", 130%);
}

.map-sectors__third-img {
    @include mapSectors-img ("../assets/img/Cadeiras.jpg", 100%);
}

@media screen {
    @media (min-width: variables.$tablet-width) {
        .inner-header__menu--alt li:nth-child(2) .link {
            text-decoration: underline;
        }

        .banner__map-sectors::before {
            background-size: 100% 900px;
            background-position-y: -480px;
        }

        .map__img {
            padding: 2rem 2rem 0 2rem;
        }

        .map__legend {
            margin: 2rem auto;

            b {
                font-size: 2rem;
            }
        }

        .map-sectors__about {
            .text--title {
                margin: 0;
                padding: 2.5rem 0 2.5rem 0;
                font-size: 2.5rem;
            }

            .text {
                h6 {
                    margin-bottom: 0;
                }

                p {
                    margin-top: 0;
                    margin-bottom: 2rem;
                }
            }
        }

        .map-sectors__second-img {
            background-size: 110%;
        }
    }

    @media (min-width: variables.$desktop-width) {
        .banner-info::before {
            background-size: 100% 930px;
            background-position-y: -485px;
        }

        .map {
            flex-direction: row;
            align-items: center;
            gap: 3rem;
            padding: 0 7rem 0 7rem;
        }

        .map__legend {
            margin: 0;
        }

        .map-sectors__about {
            margin: 5rem 0 0 0;

            .text {
                margin: 0;

                h6 {
                    margin: 0;
                    padding: 1rem;
                }

                p {
                    margin: 0;
                    padding: 0;
                }
            }

            .map-sectors--container {
                display: flex;
                height: 700px;
                margin: 2rem 5.5rem;
                justify-content: center;
                align-items: center;
                text-align: center;

                .map-sectors--child {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 33%;
                    margin-bottom: auto;

                    h6 {
                        margin: 0;
                        padding: 1rem 0 2rem 0;
                    }

                    p {
                        margin: 0 0.7rem;
                        padding: 0;
                    }
                }

                .second--container {
                    margin-top: auto;

                    h6 {
                        padding: 1rem 0 2rem 0;
                    }

                    p {
                        margin: 0;
                        padding: 0 0.8rem;
                    }
                }

                .third--container {
                    p {
                        padding: 0;
                        margin: 0 1rem;
                    }
                }
            }
        }

        .map-sectors__img {
            margin: 0;
            padding: 0;
        }

        .map-sectors__img,
        .map-sectors__second-img,
        .map-sectors__third-img {
            width: 27vw;
        }
    }
}