@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
.banner__map-sectors {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .banner__map-sectors {
    height: 384px;
  }
}
@media screen and (min-width: 1366px) {
  .banner__map-sectors {
    height: 407px;
  }
}
.banner__map-sectors::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../assets/img/Banner-Setores.jpg");
  background-size: 100% 603px;
  background-position: 0 320px;
  opacity: 0.4;
}
@media screen and (min-width: 768px) {
  .banner__map-sectors::before {
    background-size: 100%;
    background-position: center;
  }
}
.banner__map-sectors h1 {
  position: relative;
  color: #FFFFFF;
  font-family: "Calistoga", cursive;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.6rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .banner__map-sectors h1 {
    font-size: 4rem;
    line-height: 5.2rem;
  }
}

.map {
  display: flex;
  flex-direction: column;
}
.map__img {
  margin-top: 2rem;
  align-self: center;
}
.map__img img {
  width: 100%;
}
.map__legend {
  align-self: center;
  list-style: none;
  margin: 1rem 0 6rem 0;
}
.map__legend b {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: #FFFFFF;
}
.map__legend li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.75rem;
}
.map__legend li p {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2.5rem;
  color: #FFFFFF;
}

.map-sectors__about {
  text-align: center;
  margin: 2rem 1.5rem;
}

.map-sectors__img {
  background-image: url("../assets/img/Pistas.jpg");
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 239px;
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .map-sectors__img {
    width: 50%;
    margin: auto;
  }
}

.map-sectors__second-img {
  background-image: url("../assets/img/Pista-premium.jpg");
  background-size: 130%;
  background-position: center;
  width: 100%;
  height: 239px;
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .map-sectors__second-img {
    width: 50%;
    margin: auto;
  }
}

.map-sectors__third-img {
  background-image: url("../assets/img/Cadeiras.jpg");
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 239px;
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .map-sectors__third-img {
    width: 50%;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .inner-header__menu--alt li:nth-child(2) .link {
    text-decoration: underline;
  }
  .banner__map-sectors::before {
    background-size: 100% 900px;
    background-position-y: -480px;
  }
  .map__img {
    padding: 2rem 2rem 0 2rem;
  }
  .map__legend {
    margin: 2rem auto;
  }
  .map__legend b {
    font-size: 2rem;
  }
  .map-sectors__about .text--title {
    margin: 0;
    padding: 2.5rem 0 2.5rem 0;
    font-size: 2.5rem;
  }
  .map-sectors__about .text h6 {
    margin-bottom: 0;
  }
  .map-sectors__about .text p {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .map-sectors__second-img {
    background-size: 110%;
  }
}
@media screen and (min-width: 1366px) {
  .banner-info::before {
    background-size: 100% 930px;
    background-position-y: -485px;
  }
  .map {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    padding: 0 7rem 0 7rem;
  }
  .map__legend {
    margin: 0;
  }
  .map-sectors__about {
    margin: 5rem 0 0 0;
  }
  .map-sectors__about .text {
    margin: 0;
  }
  .map-sectors__about .text h6 {
    margin: 0;
    padding: 1rem;
  }
  .map-sectors__about .text p {
    margin: 0;
    padding: 0;
  }
  .map-sectors__about .map-sectors--container {
    display: flex;
    height: 700px;
    margin: 2rem 5.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .map-sectors__about .map-sectors--container .map-sectors--child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-bottom: auto;
  }
  .map-sectors__about .map-sectors--container .map-sectors--child h6 {
    margin: 0;
    padding: 1rem 0 2rem 0;
  }
  .map-sectors__about .map-sectors--container .map-sectors--child p {
    margin: 0 0.7rem;
    padding: 0;
  }
  .map-sectors__about .map-sectors--container .second--container {
    margin-top: auto;
  }
  .map-sectors__about .map-sectors--container .second--container h6 {
    padding: 1rem 0 2rem 0;
  }
  .map-sectors__about .map-sectors--container .second--container p {
    margin: 0;
    padding: 0 0.8rem;
  }
  .map-sectors__about .map-sectors--container .third--container p {
    padding: 0;
    margin: 0 1rem;
  }
  .map-sectors__img {
    margin: 0;
    padding: 0;
  }
  .map-sectors__img,
  .map-sectors__second-img,
  .map-sectors__third-img {
    width: 27vw;
  }
}/*# sourceMappingURL=map-sectors.css.map */