@use "./abstract/variables";
@use "./abstract/mixins" as *;

.banner-tickets {
    @include banner;

    &::before {
        @include banner-shade("../assets/img/Banner-Ingressos.jpg", 250% 700px, center -150px);
    }
}

.banner-title {
    @include banner-title;
}

.tickets {
    .banner-title {
        padding: 2rem 1.5rem;
    }

    .text {
        .form {
            padding: 0 1.5rem;

            h6 {
                padding-bottom: .5rem;
            }

            select {
                @include drop-button ("../assets/icons/arrow-drop-down-gray.png");

                &:optional {
                    color: variables.$tertiary-color;
                }
            }

            .date {
                color: variables.$tertiary-color;
            }
        }

        .form__text-field {
            color: variables.$tertiary-color;
            min-width: 100%;
            height: 48px;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 2.5rem;
            padding: 0 0.5rem;
            border: none;
            box-sizing: border-box;
        }
    }
}

.button {
    padding: 1rem;
    margin: 4rem auto;
    border: none;
    color: variables.$secondary-color;
    font-size: 1rem;
    font-weight: 700;

    &:hover {
        background-color: #606ADA;
    }
}

@media screen {
    @media (min-width: variables.$tablet-width) {
        .inner-header__menu--alt li:nth-child(4) .link {
            text-decoration: underline;
        }

        .banner-tickets::before {
            background-size: 160%;
            -o-object-fit: cover;
            object-fit: cover;
            background-position-y: -90px;
        }

        .tickets {
            .banner-title {
                padding: 2rem 3.75rem;
                font-size: 3rem;
                line-height: 4rem;
            }

            .text {
                .form {
                    padding: 0 3.75rem;

                    h6 {
                        margin: 0;
                        padding: 2rem 0 0.5rem 0;
                    }
                }
            }
        }

        .button {
            margin-bottom: 3.5rem;
        }
    }

    @media (min-width: variables.$desktop-width) {}
}